body {
    margin: 1rem;
    background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}
.ui.segment:first-child {
    margin-top: 1rem;
}

.margin-top {
  margin-top: 7px;
}

.transparent-background {
  background:transparent;
}
